<!--Container -->
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-nav">
            <div class="flex justify-between">
                <div class="p-1 mx-3 inline-flex items-center">
                    <i class="fas fa-bars pr-2 text-white" (click)="sidebarToggle()"></i>
                    <h1 class="text-white p-2">FPTherapies</h1>
                </div>
                <div class="p-1 flex flex-row items-center">
                    <img (click)="profileToggle()" class="inline-block h-8 w-8
                        rounded-full" src="../../assets/doctor.png" alt="">
                    <a href="#" (click)="profileToggle()" class="text-white p-2
                        no-underline hidden md:block lg:block" formControlName="userName">{{userName}}</a>
                    <div id="ProfileDropDown" class="rounded hidden shadow-md
                        bg-white absolute pin-t mt-12 mr-1 pin-r">
                        <ul class="list-reset">
                            <li><a href="#" class="no-underline px-4 py-2 block
                                    text-black hover:bg-grey-light">My account</a></li>
                            <li><a href="#" class="no-underline px-4 py-2 block
                                    text-black hover:bg-grey-light">Notifications</a></li>
                            <li>
                                <hr class="border-t mx-2 border-grey-ligght">
                            </li>
                            <li><a href="#" class="no-underline px-4 py-2 block
                                    text-black hover:bg-grey-light">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
            <aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6
                border-r border-side-nav hidden md:block lg:block">

                <ul class="list-reset flex flex-col">
                    <li class="w-full h-full py-3 px-2 border-b
                        border-light-border bg-white">
                        <a [routerLink]="['']" class="font-sans font-hairline hover:font-normal
                            text-sm text-nav-item no-underline">
                            <i class="fas fa-tachometer-alt float-left mx-2"></i>
                            Dashboard
                            <span><i class="fas fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                    <li class="w-full h-full py-3 px-2">
                        <a href="#" class="font-sans font-hairline hover:font-normal
                            text-sm text-nav-item no-underline">
                            <i class="far fa-file float-left mx-2"></i>
                            Pages
                            <span><i class="fa fa-angle-down float-right"></i></span>
                        </a>
                        <ul class="list-reset -mx-2 bg-white-medium-dark">
                            <li class="border-t mt-2 border-light-border w-full
                                h-full px-2 py-3">
                                <a [routerLink]="['/login']" class="mx-4 font-sans font-hairline
                                    hover:font-normal text-sm text-nav-item
                                    no-underline">
                                    Login Page
                                    <span><i class="fa fa-angle-right
                                            float-right"></i></span>
                                </a>
                            </li>
                            <li class="border-t border-light-border w-full
                                h-full px-2 py-3">
                                <a [routerLink]="['/register']" class="mx-4 font-sans font-hairline
                                    hover:font-normal text-sm text-nav-item
                                    no-underline">
                                    Register Page
                                    <span><i class="fa fa-angle-right
                                            float-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </aside>
            <!--/Sidebar-->
            <!--Main-->
            <main class=" flex-1 p-3 overflow-hidden" style="background-color: lightgray;">

                <div class="flex flex-col">
                    <!-- Stats Row Starts Here -->
                    <div class="flex flex-1 flex-col md:flex-row lg:flex-row
                        mx-2">
                        <div class="shadow-lg bg-red-vibrant border-l-8
                            hover:bg-red-vibrant-dark border-red-vibrant-dark
                            mb-2 p-2 md:w-1/4 mx-2">
                            <div class="p-4 flex flex-col">
                                <a href="#" class="no-underline text-white
                                    text-2xl">
                                    $244
                                </a>
                                <a href="#" class="no-underline text-white
                                    text-lg">
                                    Total Sales
                                </a>
                            </div>
                        </div>

                        <div class="shadow bg-info border-l-8 hover:bg-info-dark
                            border-info-dark mb-2 p-2 md:w-1/4 mx-2">
                            <div class="p-4 flex flex-col">
                                <a href="#" class="no-underline text-white
                                    text-2xl">
                                    $199.4
                                </a>
                                <a href="#" class="no-underline text-white
                                    text-lg">
                                    Total Cost
                                </a>
                            </div>
                        </div>

                        <div class="shadow bg-warning border-l-8
                            hover:bg-warning-dark border-warning-dark mb-2 p-2
                            md:w-1/4 mx-2">
                            <div class="p-4 flex flex-col">
                                <a href="#" class="no-underline text-white
                                    text-2xl">
                                    900
                                </a>
                                <a href="#" class="no-underline text-white
                                    text-lg">
                                    Total Users
                                </a>
                            </div>
                        </div>

                        <div class="shadow bg-success border-l-8
                            hover:bg-success-dark border-success-dark mb-2 p-2
                            md:w-1/4 mx-2">
                            <div class="p-4 flex flex-col">
                                <a href="#" class="no-underline text-white
                                    text-2xl">
                                    500
                                </a>
                                <a href="#" class="no-underline text-white
                                    text-lg">
                                    Total Device Users
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="flex flex-1 flex-col md:flex-row lg:flex-row
                        mx-2">
                        <div style="height: 3vh;">Sort By
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Sort By"
                                    [ngModel]="selectedFilterOption"
                                    (ngModelChange)="onChange($event)" name="sel2"
                                    [disabled]="openUserCard">
                                    <mat-option *ngFor="let data of filterOptions"
                                        [value]="data.value">
                                        {{data.actual}}  </mat-option>
                                    </mat-select>
                    
                                </mat-form-field>
                    
                            </div>
                        </div> -->

                    <div class="col-sm-3" style="text-align: center;">
                        <div *ngFor="let data of
                        cardData" (click)="openUserCardFxn(data)" >

                            <div style="width: 33%; float: left; text-align: center;margin-bottom: 2%; ">
                                <!--Top user 1-->
                                <div class="rounded rounded-t-lg overflow-hidden
                                shadow
                                max-w-xs my-3" style="background-color: whitesmoke;">
                                    

                                    <div *ngIf="data.image=='y'" class="cardTopDivImageDiv">
                                    </div>
                                    <div *ngIf="data.image=='n'" class="cardTopDivNoImageDiv">
                                        <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
                                    </div>
                                    <div class="text-center px-3 pb-6 pt-2">
                                        <div *ngIf="data.redAlerts.length>0" style="float: right;"
                                            on-mouseover='openAlertDialog(data)'><i class="fa fa fa-exclamation-circle
                                            fa-lg" style="color: red;" [ngClass]="(data.blink)?'blink':''"></i></div>
                                        <h3 class="text-black text-sm bold
                                        font-sans"> {{data.f_name}}
                                            {{data.l_name}}
                                        </h3>
                                        <p class="mt-2 font-sans font-light
                                        text-grey-700">{{data.sex}} {{data.age}}</p>
                                    </div>

                                    <div class="row" [ngClass]="(data.fall)?'cardFallTrue':'cardFallFalse'">
                                        <div *ngIf="data.fall">
                                            <div>FALL ALERT</div>
                                            <div style="font-size: 12px;">Updated At
                                                - {{data.updatedAt | date:
                                                'dd/MM/yyyy hh:mm:ss'}} </div>
                                        </div>

                                        <div *ngIf="!data.fall">
                                            <div>Last Alert : </div>
                                            <div style="font-size: 12px;">Updated At
                                                - {{data.updatedAt | date:
                                                'dd/MM/yyyy hh:mm:ss'}}</div>

                                        </div>
                                    </div>
                                    
                                    <div class="row cardDetailsDiv">
                                        <div class="cardDetailsDivImage">
                                            <img src="../../../../assets/heat.png" style="height:5vh;margin-left:auto;
                                            margin-right:auto;">
                                            <div style=" text-align:
                                    center;height:4vh;line-height: 4vh;">{{data.temp}}</div>
                                            <div style=" text-align:
                                    center;height:4vh;line-height: 4vh;">{{data.tempDegree}}</div>
                                        </div>

                                        <div class="cardDetailsDivImage">
                                            <img src="../../../../assets/heart.png" style="height:5vh;margin-left:auto;
                                            margin-right:auto;">
                                            <div style=" text-align:
                                    center;height:4vh;line-height: 4vh;">{{data.bpm}}</div>
                                            <div style=" text-align:
                                    center;height:4vh;line-height: 4vh;">{{data.bpmDegree}}</div>
                                        </div>

                                        <div class="cardDetailsDivImage">
                                            <img src="../../../../assets/footsteps.png" style="height:5vh;margin-left:auto;
                                            margin-right:auto;">
                                            <div style=" text-align:
                                    center;height:4vh;line-height: 4vh;">{{data.step_count}}</div>
                                            <div style=" text-align:
                                    center;height:4vh;line-height: 4vh;"></div>
                                        </div>

                                        <div class="cardDetailsDivImage">
                                            <img src="../../../../assets/oxygen-symbol.png" style="height:5vh;margin-left:auto;
                                            margin-right:auto;">
                                            <div style=" text-align:
                                    center;height:4vh;line-height: 4vh;">{{data.oxygen}}</div>
                                            <div style=" text-align:
                                    center;height:4vh;line-height: 4vh;"></div>
                                        </div>

                                    
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>
                    <!--/Profile Tabs-->



                </div>
            </main>
            <!--/Main-->
        </div>
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2">
            <div class="flex flex-1 mx-auto">&copy; 2021</div>
            <div class="flex flex-1 mx-auto">Managed by: <a href="https://www.fptherapies.com/.com/"
                    target="_blank">FPT</a></div>
        </footer>
        <!--/footer-->
    </div>
</div>